* {
    font-family: 'Poppins', sans-serif;
}

code {
    font-family: 'Source Code Pro', monospace;
}

h1 {
    text-align: center;
    color: white;
    font-weight: 350;
}

hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.navbar {
    height: 98%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightblue;
    overflow-x: hidden;
    padding-top: 20px;
}

.navbar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    border-bottom: 1px solid white;
}

.navbar a:hover {
    color: #f1f1f1e0;
}

main {
    margin-left: 200px;
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .navbar {
        padding-top: 15px;
    }

    .navbar a {
        font-size: 18px;
    }
}

code {
    display: block;
    text-align: left;
    white-space: pre;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.8;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
}

p span {
    font-weight: 200;
    /* color: red; */
}