html {
    background-image: repeating-linear-gradient(#e6f9af, #8bbeb2);
}

h1 {
    text-align: center;
    font-weight: 150;
    font-family: 'Roboto',
    sans-serif;
}

h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 50;
    text-align: center;
}

fieldset {
    border: none;
}

#main-container {
    width: 32%;
    min-width: 320px;
    border: 8px solid #fff;
    padding: 20px;
    line-height: 1.7;
    background-color: #18314F;
    border-radius: 7px;
    margin-top: 15px;
    color: #fff;
    font-family: 'Open Sans Condensed',
    sans-serif;

}

input[type="name"], input[type="number"], input[type="email"] {
    /* width: 100%; */
    height: 27px;
    font-size: 15px;
    display: block;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

label {
    font-weight: 100;
    /* font-size: 1.1vw; */
    display: block;
    margin-bottom: 2px;
}

.one-hundred {
    width: 100%;
}

#comments {
    /* height: auto; */
    display: block;
}

button {
    display: block;
    height: 32px;
    border-radius: 4px;
    width: 95%;
    /* border: 1px solid red; */
    font-size: 20px;
    font-weight: 100;
    padding: 4px;
    border: 2px solid white;
    background-color: #e6f9af;
}